<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6rqJfnhejTI80zYUROAW1_Wve8wvKlmw</string>
	<key>GCM_SENDER_ID</key>
	<string>932325401767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmarkaz.early.staging.anon</string>
	<key>PROJECT_ID</key>
	<string>dm-managment</string>
	<key>STORAGE_BUCKET</key>
	<string>dm-managment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932325401767:ios:76eed2fb3757810385a782</string>
</dict>
</plist>