<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Anon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>devmarkaz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need your meida to fetch and upload it.</string>
	<key>NSCameraUsageDescription</key>
	<string>Anon use your device's camera to do things such as clicking live photo</string>
	<key>NSContactsUsageDescription</key>
	<string>Anon needs your contact access to display your friends on Anon and to provide a better experience</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Anon need your location always on to display you the nearest products and to provide a better experience.</string>
	<key>NSLocationUsageDescription</key>
	<string>Anon need location on to display your current location and to provide a better experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Anon need your location while using the app and to provide a better experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you share the videos, photos, and voice while sending voice messages and choosing media from library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Anon needs your photo library access to upload the photos and videos</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Anon needs notification permission to notify you when you receive new order, new offer, message and keep you up to date about your account</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
